// mixins

$font-family: 'Inter', sans-serif;

@mixin font($weight, $size, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin iPhone14Pro {
  @media (min-width: 392px) and (max-width: 500px) {
    @content;
  }
}

@mixin iPhone12 {
  @media (min-width: 377px) and (max-width: 391px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 376px) {
    @content;
  }
}

//

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  @include font(600, 40px, 48.41px, 0.03em);
  margin: 0;
}

h2 {
  @include font(600, 36px, 43.57px, 0);
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  width: 100vw;
}

.wrapper {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo__image {
  margin-top: 42px;
  margin-left: 40px;
}

.prize__image {
  margin-top: 42px;
  margin-right: 40px;
}

.main__wrapper {
  margin: 120px 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.section__description {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.section__description-subtext {
  color: #ffffff;
}

.section__desctription-logo-mobile {
  display: none;
}

.section__description-smalltext {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #ffffff;
  @include font(400, 22px, 26.63px, 0);
}

.section__description-button-wrapper {
  width: inherit;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.section__description-button {
  width: 183px;
  height: 64px;
}

.section__description-info {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  color: #ffffff;
}

.section__description-info-lefttext {
  // width: 37%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include font(700, 16px, 19.36px, 0);
}

.section__description-info-righttext {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
  gap: 14px;
  @include font(700, 16px, 19.36px, 0);
}

.section__description-info-date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section__description-info-day {
  width: 35px;
  height: 23px;
}

.section__description-info-event {
  display: flex;
}

.section__description-info-divider {
  margin: 0 10px;
}

.section__description-info-month {
  @include font(700, 18px, 21.78px, 0);
  text-align: center;
}

.section__image-wrapper {
  display: flex;
  width: 60%;
}

.section__information-mobile {
  display: none;
}

.image__dice1 {
  position: absolute;
  top: 10%;
  left: 26%;
  animation: moveUpDown 3s ease infinite;
}

.image__clubs1 {
  position: absolute;
  top: 7%;
  left: 40%;
  animation: reverseSlowMoveUpDown 3s ease infinite;
}

.image__dice2 {
  position: absolute;
  top: 19%;
  left: 47%;
  animation: reverseMoveUpDown 3s ease infinite;
}

.image__hearts {
  position: absolute;
  top: 17%;
  left: 58%;
  animation: reverseSlowMoveUpDown 3s ease infinite;
}

.image__clubs2 {
  position: absolute;
  top: 11%;
  left: 69%;
  animation: moveUpDown 3s ease infinite;
}

.image__spades1 {
  position: absolute;
  top: 19%;
  left: 88%;
  animation: reverseSlowMoveUpDown 3s ease infinite;
}

.image__dice3 {
  position: absolute;
  top: 58%;
  left: 90%;
  animation: moveUpDown 3s ease infinite;
}

.image__diamonds {
  position: absolute;
  top: 73%;
  left: 54%;
  animation: reverseSlowMoveUpDown 3s ease infinite;
}

.image__clubs3 {
  position: absolute;
  top: 77%;
  left: 72%;
  animation: moveUpDown 3s ease infinite;
}

.image__spades2 {
  position: absolute;
  top: 80%;
  left: 40%;
  animation: moveUpDown 3s ease infinite;
}

.image__spades3 {
  position: absolute;
  top: 83%;
  left: 4%;
  animation: reverseMoveUpDown 3s ease infinite;
}

.image__dice4 {
  position: absolute;
  top: 84%;
  left: 26%;
  animation: reverseMoveUpDown 3s ease infinite;
}

.image__dice5 {
  position: absolute;
  top: 86%;
  left: 55%;
  animation: reverseMoveUpDown 3s ease infinite;
}

.image__spades-mobile {
  display: none;
}

.image__dice1-mobile {
  display: none;
}

.image__clubs1-mobile {
  display: none;
}

.image__dice2-mobile {
  display: none;
}

.image__hearts-mobile {
  display: none;
}

.image__spades1-mobile {
  display: none;
}

.image__dice3-mobile {
  display: none;
}

.image__diamonds-mobile {
  display: none;
}

.image__dice5-mobile {
  display: none;
}

@include tablet {
  .wrapper {
    overflow: hidden;
  }
}

@include mobile {
  .wrapper {
    background: url('./assets/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/grand_belaggio_logo_mobile.svg');
    margin-top: 15px;
    margin-left: 15px;
  }

  .prize__image {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    gap: 35px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .section__description-image-mobile {
    width: 238px;
    height: 39px;
  }

  .section__description-subtext {
    margin-bottom: 30px;
    @include font(600, 22px, 26.63px, 0);
  }

  .section__desctription-logo-mobile {
    display: flex;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .section__description-smalltext-mobile {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    width: inherit;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 20px;
  }

  .section__description-button-mobile {
    width: 151px;
    height: 51px;
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    width: 2px;
    height: 33.43px;
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .image__dice1 {
    display: none;
  }

  .image__clubs1 {
    display: none;
  }

  .image__dice2 {
    display: none;
  }

  .image__hearts {
    display: none;
  }

  .image__clubs2 {
    display: none;
  }

  .image__spades1 {
    display: none;
  }

  .image__dice3 {
    display: none;
  }

  .image__diamonds {
    display: none;
  }

  .image__clubs3 {
    display: none;
  }

  .image__spades2 {
    display: none;
  }

  .image__spades3 {
    display: none;
  }

  .image__dice4 {
    display: none;
  }

  .image__dice5 {
    display: none;
  }

  .spades__mobile {
    display: none;
  }

  .image__dice1-mobile {
    display: block;
    position: absolute;
    top: 34%;
    left: 5%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__clubs1-mobile {
    display: block;
    position: absolute;
    top: 25%;
    left: 74%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice2-mobile {
    display: block;
    position: absolute;
    top: 61%;
    left: 75%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__hearts-mobile {
    display: block;
    position: absolute;
    top: 61%;
    left: 5%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades1-mobile {
    display: block;
    position: absolute;
    top: 32%;
    left: 56%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades-mobile {
    display: block;
    position: absolute;
    top: 61%;
    left: 46%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice3-mobile {
    display: block;
    position: absolute;
    top: 14%;
    left: 76%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__diamonds-mobile {
    display: block;
    position: absolute;
    top: 22%;
    left: 4%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice5-mobile {
    display: block;
    position: absolute;
    top: 64%;
    left: 17.6%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }
}

//............... keyframes ..............//

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes reverseMoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes reverseSlowMoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes reverseMoveUpDownMobile {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes moveUpDownMobile {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@include iPhone14Pro {
  .wrapper {
    background: url('./assets/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/grand_belaggio_logo_mobile.svg');
    margin-top: 15px;
    margin-left: 15px;
  }

  .prize__image {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    gap: 35px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .section__description-image-mobile {
    width: 238px;
    height: 39px;
  }

  .section__description-subtext {
    margin-bottom: 30px;
    @include font(600, 22px, 26.63px, 0);
  }

  .section__desctription-logo-mobile {
    display: flex;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .section__description-smalltext-mobile {
    margin-top: 140px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    width: inherit;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 20px;
  }

  .section__description-button-mobile {
    width: 151px;
    height: 51px;
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    width: 2px;
    height: 33.43px;
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .image__dice1 {
    display: none;
  }

  .image__clubs1 {
    display: none;
  }

  .image__dice2 {
    display: none;
  }

  .image__hearts {
    display: none;
  }

  .image__clubs2 {
    display: none;
  }

  .image__spades1 {
    display: none;
  }

  .image__dice3 {
    display: none;
  }

  .image__diamonds {
    display: none;
  }

  .image__clubs3 {
    display: none;
  }

  .image__spades2 {
    display: none;
  }

  .image__spades3 {
    display: none;
  }

  .image__dice4 {
    display: none;
  }

  .image__dice5 {
    display: none;
  }

  .spades__mobile {
    display: none;
  }

  .image__dice1-mobile {
    display: block;
    position: absolute;
    top: 29%;
    left: 8%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__clubs1-mobile {
    display: block;
    position: absolute;
    top: 22%;
    left: 74%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice2-mobile {
    display: block;
    position: absolute;
    top: 53%;
    left: 75%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__hearts-mobile {
    display: block;
    position: absolute;
    top: 53%;
    left: 5%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades1-mobile {
    display: block;
    position: absolute;
    top: 28%;
    left: 56%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades-mobile {
    display: block;
    position: absolute;
    top: 53%;
    left: 46%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice3-mobile {
    display: block;
    position: absolute;
    top: 14%;
    left: 76%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__diamonds-mobile {
    display: block;
    position: absolute;
    top: 19%;
    left: 7%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice5-mobile {
    display: block;
    position: absolute;
    top: 56%;
    left: 17.6%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }
}

@include iPhone12 {
  .wrapper {
    background: url('./assets/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/grand_belaggio_logo_mobile.svg');
    margin-top: 15px;
    margin-left: 15px;
  }

  .prize__image {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    gap: 35px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .section__description-image-mobile {
    width: 238px;
    height: 39px;
  }

  .section__description-subtext {
    margin-bottom: 30px;
    @include font(600, 22px, 26.63px, 0);
  }

  .section__desctription-logo-mobile {
    display: flex;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .section__description-smalltext-mobile {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    width: inherit;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 20px;
  }

  .section__description-button-mobile {
    width: 151px;
    height: 51px;
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 11px, 13.31px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    width: 2px;
    height: 33.43px;
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .image__dice1 {
    display: none;
  }

  .image__clubs1 {
    display: none;
  }

  .image__dice2 {
    display: none;
  }

  .image__hearts {
    display: none;
  }

  .image__clubs2 {
    display: none;
  }

  .image__spades1 {
    display: none;
  }

  .image__dice3 {
    display: none;
  }

  .image__diamonds {
    display: none;
  }

  .image__clubs3 {
    display: none;
  }

  .image__spades2 {
    display: none;
  }

  .image__spades3 {
    display: none;
  }

  .image__dice4 {
    display: none;
  }

  .image__dice5 {
    display: none;
  }

  .spades__mobile {
    display: none;
  }

  .image__dice1-mobile {
    display: block;
    position: absolute;
    top: 34%;
    left: 5%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__clubs1-mobile {
    display: block;
    position: absolute;
    top: 25%;
    left: 74%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice2-mobile {
    display: block;
    position: absolute;
    top: 56%;
    left: 75%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__hearts-mobile {
    display: block;
    position: absolute;
    top: 56%;
    left: 5%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades1-mobile {
    display: block;
    position: absolute;
    top: 32%;
    left: 56%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__spades-mobile {
    display: block;
    position: absolute;
    top: 56%;
    left: 46%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice3-mobile {
    display: block;
    position: absolute;
    top: 14%;
    left: 76%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }

  .image__diamonds-mobile {
    display: block;
    position: absolute;
    top: 22%;
    left: 4%;
    animation: moveUpDownMobile 3s ease infinite;
  }

  .image__dice5-mobile {
    display: block;
    position: absolute;
    top: 60%;
    left: 17.6%;
    animation: reverseMoveUpDownMobile 3s ease infinite;
  }
}
